.page-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.form-header-text {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    font-size: 14px;
    color: #0d39cb;
    font-family: 'Courier New', Courier, monospace;
}

.filter-button {
    font-family: 'Courier New', Courier, monospace;
}

.text-field-reg {
    font-family: 'Courier New', Courier, monospace;
}

.text-field-multi {
    font-family: 'Courier New', Courier, monospace;
}

.post-item-title {
    font-family: 'Courier New', Courier, monospace;
}

.post-item-poster {
    font-family: 'Courier New', Courier, monospace;
}

.post-poster {
    font-family: 'Courier New', Courier, monospace;
}

.post-title {
    font-family: 'Courier New', Courier, monospace;
}

.post-body {
    font-family: 'Courier New', Courier, monospace;
}   

.no-comments-text {
    font-family: 'Courier New', Courier, monospace;
}

.comment-commenter {
    font-family: 'Courier New', Courier, monospace;
}

.comment-body {
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar-text {
    font-family: 'Courier New', Courier, monospace;
}